CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.indexPage = ''

database.default.hostname = localhost
database.default.database = if_instrument_umkm
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

encryption.key =

email.protocol = smtp
email.SMTPHost = smtp.gmail.com
email.SMTPUser =
email.SMTPPass =
email.SMTPPort = 587
email.SMTPTimeout = 15
email.SMTPCrypto = tls
email.mailType = html
email.fromEmail =
email.fromName = 'IF Instrument'

XENDIT_SECRET_KEY =
MIDTRANS_SERVER_KEY =
PAYMENT_GATEWAY_TIMEOUT = 15
