AI_SERVICE_API_KEY = "pos_ai_secret_key_2026"
AI_SERVICE_HMAC_SECRET = "pos_ai_hmac_secret_2026"

# Dedicated MySQL Database for Python AI Microservice
AI_DATABASE_URL = "mysql+pymysql://root:1m4mf4154l@127.0.0.1:3306/if_umkm_ai_db"

# Threshold Settings
FACE_THRESHOLD = 0.65
FINGERPRINT_THRESHOLD = 0.70
